<p>test works!</p>
<button (click)="createType()">創建帳款類型測試</button><br>
<button (click)="getTypeByAccount()" style = "margin-top: 15px;">帳款類型應用帳號測試</button><br>
<button (click)="createPayment()" style = "margin-top: 15px;">建立帳款測試</button><br>
<button (click)="updatePayment()" style = "margin-top: 15px;">編輯帳款測試</button><br>
<button (click)="deletePayment()" style = "margin-top: 15px;">刪除帳款測試</button><br>
<button (click)="getPaymentByAccount()" style = "margin-top: 15px;">獲得帳款測試</button><br>
<button (click)="getBudgetByAccount()" style = "margin-top: 15px;">獲得特定月預算測試</button><br>
<button (click)="updateSavings()" style = "margin-top: 15px;">更新存款測試</button><br>
<button (click)="getPaymentByAccountAndMonth()" style = "margin-top: 15px;">取得當月帳款測試</button><br>
<button (click)="getBalanceByAccount()" style = "margin-top: 15px;">取得個人帳號帳戶測試</button><br>
<button (click)="createTransfers()" style = "margin-top: 15px;">創建轉帳紀錄測試</button><br>
<button (click)="deleteTransfers()" style = "margin-top: 15px;">管理員刪除轉帳紀錄測試</button><br>
<button (click)="deleteUselessTransfers()" style = "margin-top: 15px;">刪除無用轉帳紀錄測試</button><br>
<button (click)="getAllTransfersByBalanceId()" style = "margin-top: 15px;">獲得帳戶所有轉帳紀錄測試</button><br>
<button (click)="getSavingsByAccount()" style = "margin-top: 15px;">獲取帳號所有帳戶儲蓄測試</button><br>
<button (click)="getPaymentInPendingDeletion()" style = "margin-top: 15px;">獲取待刪區帳款測試</button><br>
<button (click)="recoveryPayments()" style = "margin-top: 15px;">復原帳款測試</button><br>
<button (click)="createBalance()" style = "margin-top: 15px;">創建帳戶測試</button><br>
<button (click)="deleteBalance()" style = "margin-top: 15px;">刪除帳戶測試</button><br>
<button (click)="getFamilyByAccount()" style = "margin-top: 15px;">獲得已加入家庭列表測試</button><br>
<button (click)="login()" style = "margin-top: 15px;">會員登入測試</button><br>
<button (click)="getNameByAccount()" style = "margin-top: 15px;">獲得帳號名稱測試</button><br>
<button (click)="createFamily()" style = "margin-top: 15px;">創建家庭測試</button><br>
<button (click)="renameFamily()" style = "margin-top: 15px;">更改家庭名稱測試</button><br>
<button (click)="removeFamilyMember()" style = "margin-top: 15px;">踢出家庭成員測試</button><br>
<button (click)="inviteFamilyMember()" style = "margin-top: 15px;">邀請家庭成員測試</button><br>
<button (click)="transferOwner()" style = "margin-top: 15px;">轉讓家族族長測試</button><br>
<button (click)="disbandFamily()" style = "margin-top: 15px;">解散家庭測試</button><br>
<button (click)="getUnacceptedFamilyInvitation()" style = "margin-top: 15px;">顯示邀請中的家庭成員清單測試</button><br>
<button (click)="leaveFamily()" style = "margin-top: 15px;">退出家庭測試</button><br>
<button (click)="cancelPendingInvitation()" style = "margin-top: 15px;">取消待邀請家庭成員測試</button><br>
<button (click)="getFamilyInvitationByAccount()" style = "margin-top: 15px;">顯示帳號家庭邀請測試</button><br>
<button (click)="acceptFamilyInvitation()" style = "margin-top: 15px;">接受家庭邀請測試</button><br>
<button (click)="rejectFamilyInvitation()" style = "margin-top: 15px;">拒絕家庭邀請測試</button><br>
<button (click)="logout()" style = "margin-top: 15px;">登出帳號測試</button><br>
<button (click)="getUserByAccount()" style = "margin-top: 15px;">獲得會員資料測試</button><br>
