<p>test works!</p>
<button (click)="createType()">創建帳款類型測試</button><br>
<button (click)="getTypeByAccount()" style = "margin-top: 15px;">帳款類型應用帳號測試</button><br>
<button (click)="createPayment()" style = "margin-top: 15px;">建立帳款測試</button><br>
<button (click)="updatePayment()" style = "margin-top: 15px;">編輯帳款測試</button><br>
<button (click)="deletePayment()" style = "margin-top: 15px;">刪除帳款測試</button><br>
<button (click)="getPaymentByAccount()" style = "margin-top: 15px;">獲得帳款測試</button><br>
<button (click)="getBudgetByAccount()" style = "margin-top: 15px;">獲得特定月預算測試</button><br>
<button (click)="updateSavings()" style = "margin-top: 15px;">更新存款測試</button><br>
<button (click)="getPaymentByAccountAndMonth()" style = "margin-top: 15px;">取得當月帳款測試</button><br>
<button (click)="getBalanceByAccount()" style = "margin-top: 15px;">取得個人帳號帳戶測試</button><br>
<button (click)="createTransfers()" style = "margin-top: 15px;">創建轉帳紀錄測試</button><br>
<button (click)="deleteTransfers()" style = "margin-top: 15px;">管理員刪除轉帳紀錄測試</button><br>
<button (click)="deleteUselessTransfers()" style = "margin-top: 15px;">刪除無用轉帳紀錄測試</button><br>
<button (click)="getAllTransfersByBalanceId()" style = "margin-top: 15px;">獲得帳戶所有轉帳紀錄測試</button><br>
<button (click)="getSavingsByAccount()" style = "margin-top: 15px;">獲取帳號所有帳戶儲蓄測試</button><br>
<button (click)="getPaymentInPendingDeletion()" style = "margin-top: 15px;">獲取待刪區帳款測試</button><br>
<button (click)="recoveryPayments()" style = "margin-top: 15px;">復原帳款測試</button><br>
