<div>
  <div>
    <!-- 選擇日期 -->
    <mat-form-field class="example-full-width">
      <mat-label>請選擇日期</mat-label>
      <!-- 預設日期為今天 -->
      <input matInput [matDatepicker]="picker" [value]="today" [max]="today" >
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <!-- 選擇帳戶 -->
  <div>
    <mat-form-field appearance="fill">
      <mat-label>選擇帳戶</mat-label>
      <mat-select [(value)] = "selectedUserName">
        @for(user of userNames; track $index){
          <mat-option [value] = "user">
            {{ user }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <p>你選擇的帳戶是：{{ selectedUserName }}</p>
  </div>
  <div>
    <input type="text" placeholder="寫點備註吧…"/>
  </div>
</div>
