<div>
  <div>
    <h2>我的家庭列表</h2>
  </div>
  <div>
    @if(familyList.length > 0){
      <table class="family-table">
        <thead>
          <tr>
            <th>家庭名稱</th>
            <th>擁有者</th>
            <th>家庭成員</th>
          </tr>
        </thead>
        <tbody>
          @for(family of familyList; track $index){
            <tr>
              <td>
                <a (click)="goFamilyManagement(family.id)" style="cursor: pointer; color: blue; text-decoration: underline;">
                  {{ family.name.trim() !== '' ? family.name : '🆔 ' + family.id }}
                </a>
              </td>
              <td>{{ family.owner.name }}</td>
              <td>{{ getMemberNames(family.memberList) }}</td>
            </tr>
          }
        </tbody>
      </table>
    }
    @else {
      <p>目前尚未加入任何家庭</p>
    }
  </div>
</div>
