<div class="background">
  <div class="area">
      <div class="textArea">
        <h2 class="login-title">智能記帳登入</h2> <div class="form-group">
        <span class="accountLabel">帳號</span>
        <input class="accountInput" type="text" placeholder="請輸入帳號" [(ngModel)]="account">
      </div>
      <div class="form-group">
        <span class="passwordLabel">密碼</span>
        <div class="password-wrapper">
          <input
            class="passwordInput"
            [type]="showPassword ? 'text' : 'password'"
            placeholder="請輸入密碼"
            [(ngModel)]="password"
          />
          <button
            type="button"
            class="eye-button"
            (click)="togglePasswordVisibility()"
            aria-label="切換密碼顯示"
            >
            {{ showPassword ? '🙈' : '👁️' }}
          </button>
        </div>
      </div>

      <a class="forget-link"
        routerLink="/forgetPasswords"
        routerLinkActive="active"
        >
        忘記密碼
      </a>

      <div class="button-container">
        <button class="BtnRegister" (click)="RegisterClick()">註冊</button>
        <button class="BtnLogin"  (click)="LoginClick()">登入</button>
      </div>
  </div>

</div>
