<div class="background">
  <div class="area">
    <div class="textArea">
      <h2 class="login-title">忘記密碼</h2>

      <!-- 帳號 -->
      <div class="form-group">
        <span class="accountLabel">帳號</span>
        <input class="accountInput" type="text" [(ngModel)]="account" placeholder="請輸入帳號信箱">
        <button class="BtnSend" [disabled]="countdown > 0 || isSendingCode" (click)="sendCode()">
          {{ countdown > 0 ? '請稍後（' + countdown + '秒）' : '寄出驗證碼' }}
        </button>
      </div>

      <!-- 驗證碼（寄出後才顯示） -->
      @if(codeSent) {
        <div class="form-group">
          <span class="accountLabel">驗證碼</span>
          <input class="accountInput" type="text" [(ngModel)]="verifyCode" placeholder="請輸入驗證碼">
          <button class="BtnSend" (click)="checkCode()">送出</button>
        </div>
      }
    </div>
  </div>

</div>
