<div class="background">
  <div class="area">
    <div class="member-password-card">
      <h2 class="card-title">更改密碼</h2>

      <form>
        <div class="section-group">
            <!-- <h3 class="section-title">密碼設定</h3> -->

          <div class="form-group">
            <label for="currentPassword" class="input-label">舊密碼</label>
            <input id="currentPassword" class="form-control" type="password" placeholder="請輸入舊密碼">
          </div>

          <div class="form-group">
            <label for="newPassword" class="input-label">新密碼</label>
            <input id="newPassword" class="form-control" type="password" placeholder="請輸入新密碼">
          </div>

          <div class="form-group">
            <label for="confirmNewPassword" class="input-label">再次輸入新密碼</label>
            <input id="confirmNewPassword" class="form-control" type="password" placeholder="請再次輸入新密碼">
          </div>
        </div>

        <div class="button-group">
          <button type="button" class="btn btn-primary">寄出驗證信</button>
        </div>
      </form>
    </div>
  </div>
</div>
