@use 'app/styles/variables' as *;
html, body { height: 100%; }
body { margin: 0; font-family: 'Noto Sans TC', 'Microsoft JhengHei', Arial, sans-serif; }

body.dark-mode .hero-section,
body.dark-mode .steps-section {
  background: var(--primary-bg) !important;
}
body.dark-mode .cta-section {
  background: var(--secondary-bg) !important;
}
